//color variables
$red: rgb(194, 78, 78);
$color: rgb(201, 201, 201);

//stles home page container
.home-container{
    height: 100vh;
 
}

//styles div containing only the close button
.close-btn-container{
    background: rgb(226, 229, 235);
    height: 25px;
    border: {
        bottom-left-radius: 0px !important;
        bottom-right-radius: 0px !important;
    }
}

//styles close button
.close-btn{
    cursor: pointer;
    position: absolute !important;
    top: 7px !important;
    left: 8px;
    border-radius: 100px;
    background: $red;    
    color: $red;
    font-size: 12px !important;
  
}

//styles close button when you hover over it
.close-btn:hover{
    color:black;
}


