$window-color: rgba(255, 255, 255, 0.386);

.nav-container{
    background: $window-color;
    text-align: start;
    padding: 0px 10px;
    display: flex;
    height: 30px;
}

a{
    padding: 5px 10px 5px 0;
    color: black !important;
}

a:hover{
    font-style: unset !important;
    color: black !important;
    text-decoration: none !important;
}