//Gradient colors
$default-color: linear-gradient(rgb(186, 123, 175),rgb(196, 162, 190),rgb(206, 189, 203));
$gradient1: linear-gradient(rgb(172, 141, 148),rgb(177, 163, 168),rgb(221, 221, 223));
$gradient2: linear-gradient(rgb(93, 179, 181),rgb(153, 177, 153),rgb(162, 162, 164));
$gradient3: linear-gradient(rgb(44, 169, 227),rgb(140, 131, 227),rgb(187, 185, 210));
$gradient4: linear-gradient(rgb(210, 188, 208),rgb(174, 172, 187),rgb(170, 165, 222));


//exporting variables
:export {
    defaultcolor: $default-color;
    gradient1: $gradient1;
    gradient2: $gradient2;
    gradient3: $gradient3;
    gradient4: $gradient4;
}


//styles the whole container for settings
.settings-container{
    width: 250px;
    height: 300px;
}


//styles the div that previews color before changing it 
.desktop-preview{
    width: 150px;
    height: 100px;
    border: black 1px solid;
    margin: 10px auto;
}

//styles div containing all options for background change
.options{
    margin-top: 20px;
    height: 100px;
    width: 230px;
    margin: auto;
    overflow: scroll;
    text-align: left;
    background: rgb(233, 233, 233);
    border: 1px solid black;
}

//styles all list items inside of div with classname of options
.options li {
    padding: 5px 10px;
}

//styles all i tag inside of div with classname of options
.options i {
    top: unset !important;
    font-size: 20px !important;
}

//styles the background options 
.colors-option{
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    display: none;
}

//styles all div elements that are children of classname of colors-option
.colors-option > div{
    width: 40px;
    height: 30px;
    border: rgb(151, 151, 151) 1px solid;
    margin: 5px;
    
}

//styles button that applies background color
.apply-btn{
    bottom: 0;
    position: absolute;
}


