.window-container{
    background: white;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    top: 100px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: rgba(91, 91, 91, 0.317) 1px 1px 20px;
}

.window-container > div {
   border-radius: 5px;
}

#Resume{
    top: 0;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    #Resume{
        top: 85px;
    }
}

